<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chris.myapplication">
    <!-- TODO permissions like internet, camera, write images in gallery -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Receipt"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".CategoryInfo"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".OCRActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".CornerActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity3"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity2"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>